<table>

<tr>
	<th><h1>Buildings</h1></th>
	<th id="notice" align="middle"><%= notice %></th>
</tr>

  <tr>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Spaces</th>
    <th>Owner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @buildings.each do |building| %>
  <tr>
    <td><%= link_to building.address, building %></td>
    <td><%= building.city %></td>
    <td><%= building.state %></td>
    <td><%= link_to '2', '#' %></td>
    <td><%= link_to 'Joe Bob', '#' %></td>
	<td><%= link_to 'Add Space', '#' %>
    <td><%= link_to 'Edit', edit_building_path(building) %></td>
    <td><%= link_to 'Delete', building, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Building', new_building_path %>
